{% load i18n %}
<header class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'auctions:auction-list' %}">
            {% trans "Auctions" %}
        </a>
        
        <button class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:auction-list' %}">
                        {% trans "All Auctions" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:category-list' %}">
                        {% trans "Categories" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:location-list' %}">
                        {% trans "Locations" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:executor-list' %}">
                        {% trans "Executors" %}
                    </a>
                </li>
                <li>
                    {{ LANGUAGE_CODE }}
                </li>
            </ul>
            <form method="post" action="{% url 'set_language' %}" class="d-flex me-3">
                {% csrf_token %}
                <select name="language" class="form-select" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang_code, lang_name in LANGUAGES %}
                    <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang_name }}
                    </option>
                {% endfor %}
                </select>
            </form>
            {# User Menu #}
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" 
                            data-bs-toggle="dropdown">
                        {{ user.username }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.is_staff %}
                            <li>
                                <a class="dropdown-item" href="{% url 'admin:index' %}">
                                    {% trans "Admin Panel" %}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                {% trans "Logout" %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-light">
                    {% trans "Login" %}
                </a>
            {% endif %}
        </div>
    </div>
</header>