{# templates/components/related_auctions.html #}

{% load i18n %}
<div class="mt-16">
    <h3 class="text-2xl font-bold tracking-tight text-gray-900 mb-6">{% translate "Related Auctions" %}</h3>
    <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
        {% for auction in related_objects %}
        <div class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
            {% if auction.image %}
            <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none sm:h-96">
                <img src="{{ auction.image.url }}" alt="{{ auction.title }}"
                    class="h-full w-full object-cover object-center sm:h-full sm:w-full">
            </div>
            {% endif %}

            <div class="flex flex-1 flex-col space-y-2 p-4">
                <h3 class="text-sm font-medium text-gray-900">
                    <a href="{{ auction.get_absolute_url }}">
                        <span aria-hidden="true" class="absolute inset-0"></span>
                        {{ auction.title }}
                    </a>
                </h3>

                {% if auction.location %}
                <p class="text-sm text-gray-500">{{ auction.location.title }}</p>
                {% endif %}

                <div class="flex flex-1 flex-col justify-end">
                    <p class="text-sm italic text-gray-500">
                        {% translate "Ends" %}: {{ auction.end_time|date:"d.m.Y." }}
                    </p>
                    {% if auction.category %}
                    <p class="text-sm text-gray-500">
                        {{ auction.category.title }}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
